
body{
  color: #3C2A21;
  margin:0;
  text-align: center;
  font-family: "Merriweather",serif;
}

h1{
  color:#0A2647;
  font-size: 5.625rem;
  margin top: 10px;
  font-family: "Sacramento",cursive;
}

h1:hover{
  color:#EAF6F6;
}
h2{
  color:#0081C9;
  font-family: "Montserrat",sans-serif;
  line-height: 2;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 10px;

}
h3{
  color:#0081C9;
  font-family: "Montserrat",sans-serif;
}
p{
  line-height: 2;
}

hr{
  border: dotted #DDDDDD 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #0A2647;
  font-family: "Montserrat",sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 20px;
}
a:hover{
  color: #EAF6F6;
}
.top-container{
  background-image: url("https://media.giphy.com/media/1300w1HkjihpIY/giphy.gif");
  position: relative;
  background-color: #FFE3DC;
  padding-top: 100px;
}

.middle-container{
  background-color: white;
  margin: 100px 0;

}

.bottom-container{
  background-color:#0081C9;
  padding: 50px 0 20px;
}

.introduction{
  width: 30%;
  margin: auto;
}
.intro{
  color: #434242;
  font-family: "Montserrat",sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}
.contact-message{
  width: 500px;
  margin: 20px auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top-butterfly{
  position: absolute;
  display: -webkit-box;
  margin-right: auto;
  width: 20%;
  height: 30%;

}
.bottom-butterfly{
  display: -webkit-box;
  margin-left: auto;
  position: relative;
  width: 20%;
  height: 30%;
}
.profile-image{
  width: 20%;
  height: 30%;

}
.design-image{
  float: left;
  width: 35%;
  height: 30%;
  margin-right: 30px;
}
.develop-image{
  float: right;
  width: 35%;
  height: 30%;
  margin-left: 30px;
}
.skill-can{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.btn {
  background: #34d9b8;
  background-image: -webkit-linear-gradient(top, #34d9b8, #2980b9);
  background-image: -moz-linear-gradient(top, #34d9b8, #2980b9);
  background-image: -ms-linear-gradient(top, #34d9b8, #2980b9);
  background-image: -o-linear-gradient(top, #34d9b8, #2980b9);
  background-image: linear-gradient(to bottom, #34d9b8, #2980b9);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: "Montserrat",sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #dc3cfc;
  background-image: -webkit-linear-gradient(top, #dc3cfc, #34c6d9);
  background-image: -moz-linear-gradient(top, #dc3cfc, #34c6d9);
  background-image: -ms-linear-gradient(top, #dc3cfc, #34c6d9);
  background-image: -o-linear-gradient(top, #dc3cfc, #34c6d9);
  background-image: linear-gradient(to bottom, #dc3cfc, #34c6d9);
  text-decoration: none;
}
